<p>HELLO FROM CSKA TEAM PAGE</p>

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="col-md-3">
                <div class="input-space">
                    <select (change)="changeSeason($event.target.value)" [ngModel]="season">
                        <option *ngFor="let s of seasons" [value]="s">
                            {{ s }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor="let tempPlayer of players" class="col-md-3">

                    <div class="product-box">

                        <a routerLink="/cska-team/player/{{ tempPlayer.id }}">
                            <img src="{{ tempPlayer.photo }}" class="img-responsive">
                        </a>

                        <a routerLink="/cska-team/player/{{ tempPlayer.id }}">
                            <h1>{{ tempPlayer.name }}</h1>
                        </a>

<!--                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>-->
<!--                        <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>-->
                    </div>

                </div>

                <!-- if products empty then display a message-->
                <div *ngIf="players?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No players found.
                </div>

            </div>

        </div>
    </div>
</div>
